.Termek {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	background: linear-gradient(0deg, hsl(0, 0%, 8%), hsl(0, 0%, 13%));
	border-radius: 20px;
	border: solid 1.5px hsl(0, 0%, 30%);
	border-top: solid 1.5px hsl(0, 0%, 60%);
}

.Termek-title {
	font-size: 30px;
	color: hsl(0, 0%, 95%);
}

.Termek-text {
	color: hsl(0, 0%, 70%);
}

button {
	background-color: hsl(0, 0%, 15%);
	border-radius: 20px;
	border: solid 1.5px hsl(0, 0%, 30%);
	border-top: solid 1.5px hsl(0, 0%, 60%);
	font-family: "Lexend", sans-serif;
	color: hsl(0, 0%, 95%);
	font-weight: 600;
	font-size: 20px;
	padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
	background-color: hsl(0, 0%, 25%);
}
