.Termekek {
	display: flex;
	flex-wrap: wrap;
	padding: 30px;
	gap: 30px;
	justify-content: center;
	background: linear-gradient(0deg, hsl(0, 0%, 3%), hsl(0, 0%, 8%));
	border-radius: 20px;
	border: solid 1.5px hsl(0, 0%, 30%);
	border-top: solid 1.5px hsl(0, 0%, 60%);
}
