@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

.App {
	text-align: center;
	font-family: "Lexend", sans-serif;
    color: white;
	font-weight: 400;
    min-height: 100vh;
    background-color: black;
}

.App-header {
	background-color: rgb(44, 44, 44);
	min-height: 6vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-article {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

