@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

.App {
	text-align: center;
	font-family: "Lexend", sans-serif;
    color: white;
	font-weight: 400;
    min-height: 100vh;
    background-color: hsl(0, 0%, 0%);
}

.App-header {
	background-color: hsl(0, 0%, 5%);
	min-height: 6vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: hsl(0, 0%, 95%);
    border-bottom: solid 1.5px hsl(0, 0%, 30%);
}

.App-article {
    display: grid;
    grid-template-columns: 2.1fr 1fr;
    padding: 35px;
    gap: 35px;
}

